.booking-fact-table {
  & > .table-data > .table-row > .table-cell {
    & > * {
      padding: 40px 0;
      display: block;
    }

    .text, .app-link {
      font-size: @font-size-large + 5;
    }
  }
}
